@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid red; */
}

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

:root {
  --color-bg-main: #025595;
  --color-bg-light: #ffffff;
  --color-text-main: #12181d;
  --color-text-secondary: #4b4b4b;
  --color-accent: #1BB3G8;
  --color-footer-bg: #f7f7f7;
  --color-bg-main: #ffffff;
  --color-bg-shape: #c1d3e3;
  --color-text-main: #2c2b2b;
  --color-text-secondary: #908d8d;
  --color-btn-bg: #025595;
  --font-alt: "Inter", sans-serif;
  --font-main: "Montserrat", sans-serif;
  --header-bg: #2d2d2d;
  --header-text: #fff;
  --header-accent: #025595;
  --header-logo-bg: #4b4b4b;
  --header-logo-border: #025595;
  --header-lang: #ccc9c9;
}
