.grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transform: translateZ(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 25%;
  background: rgba(0, 0, 0, 0.6);
  width: 40%; /* стартова ширина */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0 10px 10px 0;
  padding-left: 16px;
  transition: width 0.4s ease-in-out, justify-content 0.4s ease-in-out,
    padding-left 0.4s ease;
}

.overlay h3 {
  color: white;
  font-size: 1.25rem;
  margin: 0;
  transition: transform 0.3s ease, text-align 0.3s ease;
  white-space: nowrap;
}

@media (hover: hover) {
  .card:hover .image {
    filter: brightness(0.7);
    transform: scale(1.05);
  }

  .card:hover .overlay {
    width: 100%;
    border-radius: 0;
    justify-content: center;
    padding-left: 0;
    transition: width 0.4s ease, justify-content 0.4s ease,
      padding-left 0.4s ease, border-radius 0.4s ease 0.1s;
  }

  .card:hover .overlay h3 {
    transform: translateX(0);
    text-align: center;
    font-size: 35px;
    transition: font-size 0.4s;
  }
}

@media (min-width: 1023px) {
  .grid {
    display: grid;
    grid-template-areas:
      "cards-one  cards-one  cards-one  cards-two  cards-two cards-two"
      "cards-three cards-three cards-four cards-four cards-five  cards-five";
  }
}

@media (min-width: 1440px) {
  .grid {
    gap: 24px;
    grid-template-areas:
      "cards-one  cards-one  cards-one  cards-two  cards-two cards-two"
      "cards-three cards-four cards-four cards-four cards-five  cards-five";
  }
}

.moreBtn {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  background: #1d1d1d;
  color: white;
  border-radius: 8px;
  gap: 10px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.moreBtn:hover {
  background: #333;
}

.moreIcon {
  width: 20px;
  height: 20px;
}
